*.md linguist-language=Python
*.yml linguist-language=Python
*.html linguist-language=Python
*.js linguist-language=Python
*.xml linguist-language=Python
*.css linguist-language=Python
*.sql linguist-language=Python
*.uml linguist-language=Python
*.cmd linguist-language=Python
